<div>
        <form>
                <div class="form-group">
                        <label>Kolicina</label>
                        <input class="form-control" ng-model="linija.brojMesta" />
                    </div>
            
                    <div class="form-group">
                        <label>Jedinicna cena</label>
                        <input class="form-control" ng-model="linija.cenaKarte" />
                    </div>
            
                    
            
            <button class="btn btn-secondary" ng-click="doEdit()">Izmeni</button>
        </form>
    
    </div>